* {
  font-family: Arial;
}
.container {
  margin-top: 10px;
  width: 100%;
  padding: 50px 30px 80px;
  /* padding-bottom: 100px; */
}
.container h2 {
  padding-bottom: 20px;
  border-bottom: 4px solid blue;
  margin-bottom: 20px;
}
.sarlavha {
  padding-bottom: 20px;
  border-bottom: 4px solid blue;
  color: rgba(0, 0, 0, 0.85) !important;
  margin-bottom: 20px;
  font-size: 2.1rem;
  margin-left: 30px;
  margin-right: 30px;
}
.flipBox {
  background-color: transparent;
  width: 100%;
  height: 275px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
  border-radius: 10px;
}
.flipBoxInner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: 0.8s;
  transform-style: preserve-3d;
  border-radius: 10px;
}

.flipBox:hover .flipBoxInner {
  transform: rotateY(180deg);
}

.flipBoxFront,
.flipBoxBack {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flipBoxFront {
  background-color: #bbb;
  color: black;
}
.flipBoxFront img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.flipBoxBack {
  background-image: url("../img/bgfon.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  transform: rotateY(180deg);
  text-align: center;
}
.flipBoxBack p {
  font-size: 1.5rem;
  margin-top: 25%;
}

.map {
  margin: 0;
}
.map h1 {
  margin-top: 10px;
  color: darkred;
  font-size: 3.2rem;
  margin-bottom: 0;
}
.map p {
  font-weight: bold;
  font-size: 1.4rem;
  border-bottom: 4px solid blue;
  padding-bottom: 5px;
}
.map h3 {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 10px;
}
.map .innerMap {
  text-align: left;
}
.map .redIcon1 {
  color: darkred;
  padding-top: 5px;
  font-size: 1.2rem;
  margin-right: 10px;
}
.map .redIcon2 {
  color: darkred;
  padding-top: 5px;
  font-size: 1.4rem;
  margin-right: 10px;
}
.map span {
  color: red;
}
.sliderHomiy {
  width: 100%;
  height: max-content;
  text-align: center;
}

.toolpat {
  border-radius: 10%;
  padding: 5px;
  width: 90px;
  height: 90px;
  box-sizing: border-box;
  margin: auto;
  border: 1px solid lightgray;
}
.sliderHomiy p {
  color: rgb(139, 139, 140);
  font-size: 13px;
  margin-top: 20px;
  width: 80%;
  margin-left: 10%;
}
.sliderHomiy img {
  margin-bottom: 40px;
  border-radius: 10%;
  width: 100%;
  height: 100%;
}
.yil {
  width: 100%;
  margin-top: 30px;
}

@media (max-width: 1000px) {
  .flipBox {
    width: 100%;
    height: 200px;
  }
}
@media (max-width: 767px) {
  .flipBox {
    width: 100%;
    height: 350px;
  }
  .container {
    margin-top: 0px;
  }
}

@media (max-width: 500px) {
  .flipBox {
    width: 100%;
    height: 250px;
  }
}
@media (max-width: 400px) {
  .flipBox {
    width: 100%;
    height: 200px;
  }
}

@media (min-width: 1500px) {
  .flipBox {
    width: 100%;
    height: 400px;
  }
}

@media (max-width: 300px) {
  .flipBox {
    width: 100%;
    height: 150px;
  }
}
@media (max-width: 1100px) {
  .map h1 {
    margin-top: 10px;
    font-size: 3rem;
    margin-bottom: 0;
  }
  .map p {
    font-size: 1.4rem;
    border-bottom: 4px solid blue;
    padding-bottom: 5px;
  }
  .map h3 {
    margin-left: 10px;
    font-size: 1.2rem;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .map .redIcon1 {
    margin-left: 10px;
    padding-top: 5px;
    font-size: 1.2rem;
    margin-right: 10px;
  }
  .map .redIcon2 {
    margin-left: 10px;
    padding-top: 5px;
    font-size: 1.4rem;
    margin-right: 10px;
  }
}

@media (max-width: 860px) {
  .map h1 {
    margin-top: 10px;
    font-size: 2.3rem;
    margin-bottom: 0;
  }
  .map p {
    font-size: 1.2rem;
    border-bottom: 4px solid blue;
    padding-bottom: 5px;
  }
  .map h3 {
    margin-left: 10px;
    font-size: 1rem;
    margin-top: 20px;
    margin-bottom: 10px;
  }
}

.barchasiniKurish {
  text-decoration: none;
  position: absolute;
  margin-top: 10px;
  color: darkblue;
  font-weight: bold;
  font-size: 1.5rem;
}
@media (max-width: 600px) {
  .barchasiniKurish {
    font-size: 1.2rem;
  }
}
@media (max-width: 350px) {
  .barchasiniKurish {
    font-size: 1rem;
  }
}
