.yutuqlar{
    width:100%;
    padding:70px 0px;

}
.yutuq{
    background: linear-gradient(to top,
    rgba(72, 142, 247, 0.727),
    rgba(3, 52, 177, 0.885),
    rgb(5, 47, 138),
    rgb(3, 25, 99)
  );
  padding:30px;
  color:white;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.yutuq img{width:90%; transition: 1s;}
.yutuq h4, .yutuq h5{color:white}
.yutuq:hover img{transform:scale(1.1, 1.1)}